Question1

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [1]:
def filter_list(n):
    l = []
    for i in n:
        if type(i) == int:
            l.append(i)
    return l

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [4]:
filter_list(["Nothing", "here"])

[]

Question2

Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [13]:
def add_indexes(n):
    m=[]
    for i in n:
        m.append(i + n.index(i))
    return m

In [15]:
add_indexes([0, 0, 0, 0, 0])

[0, 0, 0, 0, 0]

In [14]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [16]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

Question3

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [32]:
def cone_volume(n,m):
    a = n
    b = m
    return .33*3.14*a*b*b

In [33]:
cone_volume(3,2)

12.4344

In [34]:
cone_volume(15, 6)

559.548

In [35]:
cone_volume(18, 0)

0.0

Question4

This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 

1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [56]:
def triangle(n):
    return int(float(n*n +n)/2)

In [57]:
triangle(215)

23220

In [58]:
triangle(1)

1

In [59]:
triangle(6)

21

Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [67]:
def missing_num(n):
    n = len(A)
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A)
    return total - sum_of_A

In [68]:
A = [1, 2, 3, 4, 6, 7, 8, 9, 10]
miss = missing_num(A)
print(miss)

5.0

In [69]:
A = [7, 2, 3, 6, 5, 9, 1, 4, 8]
miss = missing_num(A)
print(miss)

10.0

In [70]:
A = [10, 5, 1, 2, 4, 6, 8, 3, 9]
miss = missing_num(A)
print(miss)

7.0