Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [20]:
def is_symmetrical(n):
    o = str(n)
    o = o[::-1]
    if n == int(o):
        return True
    else:
        return False

In [21]:
is_symmetrical(7227)

True

In [22]:
is_symmetrical(12567)

False

In [23]:
is_symmetrical(44444444)

True

In [24]:
is_symmetrical(9939)

False

In [25]:
is_symmetrical(1112111)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [61]:
def multiply_nums(s):
    s = s.split(',')
    n = []
    for i in s:
        n.append(int(i))
    mul = 1
    for j in n:
        mul = mul*j
    return mul

In [62]:
multiply_nums("2, 3")

6

In [63]:
multiply_nums("1, 2, 3, 4")

24

In [64]:
multiply_nums("54, 75, 453, 0")

0

In [65]:
multiply_nums("10, -2")

-20

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

In [150]:
def square_digits(n):
    n = str(n)
    o = []
    for i in n:
        o.append(int(i)*int(i))
    k = []
    for j in o:
        k.append(str(j))
    separator = ''
    t = int(separator.join(k))
    return t

In [153]:
square_digits(9119)

811181

In [154]:
square_digits(2483)

416649

In [155]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [112]:
def setify(n):
    n = sorted(n)
    n = set(n)
    n = list(n)
    return n

In [113]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [114]:
setify([4, 4, 4, 4])

[4]

In [115]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [116]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

The mean will always be an integer.

In [131]:
def mean(n):
    n = str(n)
    m = []
    for i in n:
        m.append(int(i))
    return int(sum(m)/len(n))

In [132]:
mean(42)

3

In [133]:
mean(12345)

3

In [134]:
mean(666)

6

In [135]:
mean(512)

2